.top-menu-bar-container{
  @include grid-row();
    background-color: $topbar-bg-color;
    
    .top-menu-logo-container {
        @media #{$small-up} {
            @include grid-column(12);
        }
        
        @media #{$medium-up} {
            @include grid-column(5);
        }
 
        @media #{$large-up} {
            @include grid-column(3);
        }   

        @media #{$xlarge-up} {
            @include grid-column(3);
        }
  }
    .top-menu-buttons-container {
        
        position: relative;
        top: 75px;
        
        @media #{$small-up} {
            @include grid-column(12);
        }
        
        @media #{$medium-up} {
            @include grid-column(7);
        }
 
        @media #{$large-up} {
            @include grid-column(9);
        }   

        @media #{$xlarge-up} {
            @include grid-column(9);
        }
  }
}
.slider-container{
   @include grid-row();
    margin-bottom:35px;
    
    .slider{
//        @include grid-column(12);
    }
}
.gallery-container{
    @include grid-row(); 
    
    .gallery-header{
        @include grid-column(12);
    
    }
    .gallery-images{
        @include grid-column(12);
    
    }
}
.content-container{
    @include grid-row(); 
    margin-bottom: 25px;
    
    .content-header{
        @media #{$small-up} {
            @include grid-column(12);
        }
        @media #{$medium-up} {
            @include grid-column(12);
        }
        @media #{$large-up} {
            @include grid-column(12);
        }  
    }
    .content-text-container{
        @media #{$small-up} {
            @include grid-column(12);
        }
        @media #{$medium-up} {
            @include grid-column(12);
        }
        @media #{$large-up} {
            @include grid-column(9);
        }  
    }
    .content-images-container{   
        @media #{$small-up} {
            @include grid-column(12);
        }
        @media #{$medium-up} {
            @include grid-column(12);
        }
        @media #{$large-up} {
            @include grid-column(3);
        }  
    }
}
.aboutme-container{
    @include grid-row(); 
    position:relative;
    
    background-color: $topbar-bg-color;
    border-top:1px solid $iron;
    border-bottom:1px solid $iron;
    
    margin-bottom:25px;
    
    .aboutme-header{
        @media #{$small-up} {
            @include grid-column(12);
        }
        @media #{$medium-up} {
            @include grid-column(12);
        }
        @media #{$large-up} {
            @include grid-column(12);
        }  
    }
    
    .aboutme-text-container{
        @media #{$small-up} {
            @include grid-column(12);
        }
        @media #{$medium-up} {
            @include grid-column(8);
        }
        @media #{$large-up} {
            @include grid-column(8);
        }  
    }
    .aboutme-images-container{
        position: absolute;
        bottom: 0px;
        right: 0px;
        
        @media #{$small-up} {
            @include grid-column(12);
        }
        @media #{$medium-up} {
            @include grid-column(4);
        }
        @media #{$large-up} {
            @include grid-column(4);
        }  
    
    }
}
.footer-container{
    @include grid-row(); 
    
    background-color: $secondary-color;
    border-top:1px solid $iron;
    
    .footer{
        @include grid-column(12);
        
        text-align:center;
        margin-top:25px;
    }
}